<h1>New Apartment</h1>
 <%= render 'form', apartment: @appartment %>


<%= link_to "Back", building_appartments_path(@building)%> <!-- ahora debe apuntar a un path en específico, el del id_building correspondiente-->